<style>
    .button {
  border-radius: 4px;
  background-color: #f4d92a;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
    .button1 {
   border-radius: 4px;
  background-color: rgba(144, 144, 144, 0.31);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin: 5px;
}
</style>
{% extends 'base-boosttrap-logged.html' %}

{% block body %}
  <ul style="top: 30%; left: 35%; position: absolute;">

      <img src="/media/upload.png" style="width:80px;top: 40%; left: -150%; position: absolute;" alt="Mountain View">
      <a style=" width:370px;top:100%;  position: absolute;" class="button" href="{% url 'trademark_request' %}">request trademark</a>

  </ul>
    <ul style="top: 50%; left: 35%; position: absolute;">

      <img src="/media/search.ico" style="width:80px;top: 40%; left: -150%; position: absolute;" alt="Mountain View">
      <a style=" width:370px;top:100%;  position: absolute;" class="button" href="{% url 'image_upload' %}">search trademark</a>

  </ul>
     <ul style="top: 70%; left: 35%; position: absolute;">
         <img src="/media/process.PNG" style="width:30px; margin-left: 110px; color: gray">
     <a style="padding-left: 0px; color: gray">in processing</a>
      <img src="/media/report.PNG" style="width:90px;top: 120%; left: -20%; position: absolute;" alt="Mountain View">
      <a style=" width:370px;top:100%;  position: absolute;" class="button1" href="">Generate reports</a>

  </ul>


{% endblock %}